html{
	font: normal 12px 'Microsoft YaHei' serif;
}
body{
	margin: 0;
}
ul{
	margin: 0;
	padding: 0;
	list-style: none;
}
a{
	text-decoration: none;
}
a:link{
	color: #333;
}
a:visited{
	color: #333;
}
a:hover{
	color: #b19e7a;
}
a:active{
	color:#b19e7a;
}
/*网页顶部的黑色条框*/
.wrapper{
	width: 1090px;
	margin: 0 auto;
}
.top{
	background-color: #333333;
	color:#cccccc; 
}
.top a{
	color: #cccccc;
}
.top>.wrapper::after{
	content: "";
	display: block;
	clear: both;
}
/*设置行高为子元素撑开的3em*/
.top > .wrapper > div {
	line-height: 3em;
}
/*左边浦发银行广告*/
.top>.wrapper>.left{
	float: left;
	width: 400px;
	height: 100%;
}
.top>.wrapper>.left>.left_ha{
	width: 400px;
	height: 100%;
}
.top>.wrapper>.left>.left_ha::after{
	content: "";
	display: block;
	clear: both;
}

.top>.wrapper>.left>.left_ha>.advert {
	float: left;
}
.top>.wrapper>.left>.left_ha>.advert a{
	display: inline-block;
	line-height: 1em;
	width: 350px;
}
/*a标签的几种状态*/
.top>.wrapper>.left>.left_ha>.advert a:link{
	color: #b4a078;
	text-decoration: underline;
}
.top>.wrapper>.left>.left_ha>.advert a:visited{
	color: #b4a078;
	text-decoration: underline;
}.top>.wrapper>.left>.left_ha>.advert a:hover{
	color: #fff;
}.top>.wrapper>.left>.left_ha>.advert a:link{
	color: #fff;
}
/*右侧登录等*/
.top>.wrapper>.right{
	float: right;
}
/*登录及其他导航条*/
.top ul.top_nav::after{
	content: "";
	display: block;
	clear: both;
}
.top ul.top_nav >li{
	float: left;
}
.top ul.top_nav >li a{
	display: inline-block;
	line-height: 1em;
	width: 80px;
	text-align: center;
	border-right: 1px solid #5c5c5c;
}
.top ul.top_nav>li:last-child a{
	border: none;
}

/*带logo的导航条*/
.logo_nav{
	height: 140px;
	background-color: #fff;
}
/*搜索框的大小*/

.search_box::after{
	content: "";
	display: block;
	clear: both;
}
.search_box{
	height: 100px;
	width: 1090px;
	background-color:#fff; 
}
/*logo的大小*/
.search_box li.logo{
	float: left;
	width: 124px;
	height: 60px;
	padding: 20px 0;
	background-color: #fff;
}

/*搜索框大小*/
.search_box li.search{
	float: left;
	width: 560px;
	height: 60px;
	padding: 20px 0;
	background-color:#fff; 
	margin-left: 220px;
}
/*搜索框*/
.search_box li.search ul.box{
	width: 550px;
	height: 40px;
}

/*搜索框下滚动文字*/

.search_box li.search ul.roll::after{
	content: "";
	display: block;
	clear: both;
}
.search_box li.search ul.roll>li{
	float: left;
}
.search_box li.search ul.roll >li a{
	display: inline-block;
	line-height: 1em;
	width: 110px;
	height: 12px;
	text-align: center;
	border-right: 1px solid #d8b878;
}
.search_box li.search ul.roll>li:last-child a{
	border: none;
}
.roll>li>a{
	color: #999999;
	font-size: 12px;
}
/*搜索框本框*/
.box{
	width: 550px;
	height: 40px;
}
.box ul::after{
	content: "";
	display: block;
	clear: both;
}
.box li:nth-child(1){
	float: left;
	width: 428px;
	height: 40px;
	border: 1px solid #b4a078;
	border-radius:20px 0 0 20px;
}
.box li:nth-child(2){
	float: left;
	width: 100px;
	height: 40px;
	background-color: #b4a078;
	border: 1px solid #b4a078;
	border-radius:0 20px 20px 0;
}
/*input框架*/
.box li:nth-child(1)>div::after{
	content: "";
	display: block;
	clear: both;
}
.box li:nth-child(1)>div>div:nth-child(1){
	float: left;
	width: 48px;
	height: 28px;
	padding-top: 12px;

}
.search_input{
	float: left;
	width: 380px;
	height: 40px;
	border: 0;
	padding: 0;
}
.box li:nth-child(2)>div{
	width: 100px;
	height: 40px;
	color: #fff;
	text-align: center;
	line-height: 40px;
}
/*购物车大小*/
.search_box li.shopping_cart{
	float: right;
	width: 134px;
	height: 38px;
	margin: 19px 0 41px 0;
	background-color: #fff;
	border: 1px solid #d8b878;
	border-radius: 30px;
}
.shopping_cart>div::after {
	content: "";
	display: block;
	clear: both;
}
.cart_icon {
	float: left;
	width: 40px;
	height: 30px;
	padding-top: 10px;
}
.cart_word{
	float: left;
	width: 58px;
	height: 40px;
}
.cart_number{
	float: left;
	width: 36px;
	height: 34px;
	padding-top: 6px;
}
/*导航条*/
.nav{
	height: 25px;
	width: 1090px;
	margin-top: 15px;
	background-color: #fff;
	position: relative;
}
ul.nav::after{
	content: "";
	display: block;
	clear: both;
}
ul.nav>li{
	float: left;
}
ul.nav>li>a{
	display: inline-block;
	font-weight: bolder;
	line-height: 23px;
	width: 99px;
	text-align: center;
	font-size: 14px;
}
ul.nav>li>a:hover{
	border-bottom: 2px solid #b4a078;
}
ul.nav>li:nth-child(9) a{
	border-right: 1px solid #5c5c5c;

}
ul.nav>li:nth-child(11) a{
	width: 97px;
}
ul.nav>li:hover>div.combobox{
	display: block;
}
ul.nav>li>div.combobox{
	z-index: 1;
	position: absolute;
/*	width: 1050px;*/
	left: 0;
	top: 100%;
	background-color:#fff;
	display: none;
	padding: 20px;
}

/*滚动的图片*/

.picture img{
	display: inline-block;
	height: 420px;
	width: 1900px;
	margin-left: -405px;
}

/*各板块标题文字公用样式*/
.currency_title{
	content: "";
	display: block;
	clear: both;
}
.currency_title{
	height: 50px;
	background-color: #fff;
	margin: 0 0 25px 0;
}
.currency_title>ul::after{
	content: "";
	display: block;
	clear: both;
}
.currency_title>ul>li:nth-child(1){
	float: left;
	font-size: 35px;
	color: #333333;
	width: 200px;
}
.currency_title>ul>li:nth-child(2){
	float: left;
	margin-top: 23px;
}

.currency_title>ul>li:nth-child(3){
	float: right;
	margin-top: 23px;

}
/*品牌制造商*/
.brand{
	height: 395px;
	background-color: #fff;
	margin-top: 35px;
}
/*品牌制造商图片分布布局*/
.brand .brand_pic>ul::after{
	content: "";
	display: block;
	clear: both;
}
.brand .brand_pic>ul>li{
	float: left;
	background-color: #fff;
	width: 356px;
	height: 155px;
}
.brand .brand_pic>ul>li:nth-child(1),
.brand .brand_pic>ul>li:nth-child(2){
	width: 357px;
	height: 320px;
	margin-right:10px;
}
.brand .brand_pic>ul>li:nth-child(3){
	margin-bottom: 10px;
}

/*新品首发*/
.new{
	height: 500px;
	background-color: #fff;
	padding-top: 60px;
}
/*新品首发图片分布布局*/
.new_pic>ul::after{
	content: "";
	display: block;
	clear: both;
}
.new_pic>ul>li{
	float: left;
	background-color: #fff;
	width: 265px;
	height: 345px;
	margin-right: 10px;
}

.new_pic>ul>li:nth-child(4){
	margin-right: 0;
}

/*人气推荐*/
.recommend{
	width: 100%;
	height: 615px;
	padding:60px 0;
	background-color: #f4f0ea;

}
.recommend_title{
	background-color:#f4f0ea; 
}
/*人气推荐图片分布布局*/
}
.recommend_pic>ul::after{
	content: "";
	display: block;
	clear: both;
}
.recommend_pic>ul>li{
	float: left;
	background-color: #f4f0ea;
	width: 223px;
	height: 260px;
	margin-left: 10px;
}
.recommend_pic>ul>li:nth-child(1){
	width: 390px;
	height: 530px;
	margin-left: 0;
} 
.recommend_pic>ul>li:nth-child(2),
.recommend_pic>ul>li:nth-child(3),
.recommend_pic>ul>li:nth-child(4){
	margin-bottom: 10px;
}
/*限时购*/
.flashsale{
	height: 455px;
	background-color: #fff;
	padding:60px 0;
}
/*限时购图片分布布局*/
}
.flashsale_pic>ul::after{
	content: "";
	display: block;
	clear: both;
}
.flashsale_pic>ul>li{
	float: left;
	background-color: #f3f9f9;
	width: 430px;
	height: 187px;
	border-right: 1px solid #f0ece4;
	border-top: 1px solid #f0ece4;
}
.flashsale_pic>ul>li:nth-child(1){
	width: 223px;
	height: 377px;
	background-color: #eec46f;
	border-right: none;
	border-top: none;
} 
.flashsale_pic>ul>li:nth-child(2),
.flashsale_pic>ul>li:nth-child(3),
{
	border-bottom: 1px solid #f0ece4;
}
/*福利社*/
.welfare{
	width: 100%;
	height: 455px;
	background-color: #f4f0ea;
	padding:60px 0;

}
.welfare_title{
	background-color:#f4f0ea; 
}
/*福利社图片分布布局*/
}
.welfare_pic>ul::after{
	content: "";
	display: block;
	clear: both;
}
.welfare_pic>ul>li{
	float: left;
	background-color: #fff;
	
}
.welfare_pic>ul>li:nth-child(1){
	width: 223px;
	height: 376px;
	background-color: #f4f0ea;
	
} 
.welfare_pic>ul>li:nth-child(2){
	width: 622px;
	height: 376px;
	border-right: 1px solid #f0ece4;
}

.welfare_pic>ul>li:nth-child(3){
	width: 242px;
	height: 376px;
}
/*分割框*/
.division{
	width: 1090px;
	height: 60px;
	background-color: #fff;
}
/*居家生活及以后同款布局的主体框架*/
.general{
	height: 800px;
	background-color: #fff;

}
/*居家生活及以后同款布局的标题*/
.general_title ul.general_links::after{
	content: "";
	display: block;
	clear: both;
}
.general_title>ul>li:nth-child(2){
	margin-left: 235px;
}
.general_title ul.general_links>li{
	float: left;
}
.general_title ul.general_links>li a{
	display: inline-block;
	line-height: 1em;
	width: 80px;
	text-align: center;
	border-right: 1px solid #5c5c5c;
}
.general_title ul.general_links>li:last-child a{
	border-right: none;
}
/*居家生活及以后同款布局的图片分布布局*/

.general_layout>ul::after{
	content: "";
	display: block;
	clear: both;
}
.general_layout>ul>li{
	width: 265px;
	height: 360px;
	float: left;
	background-color: #fff;
	
}
.general_layout>ul>li:nth-child(1){
	width: 1090px;
	height: 310px;
	background-color: #9e9ed4;
	margin-bottom: 20px;
	
} 
.general_layout>ul>li:nth-child(2),
.general_layout>ul>li:nth-child(3),
.general_layout>ul>li:nth-child(4){
	margin-right: 10px;
}

/*运动旅行导航栏修改*/
.motion_title ul.general_links>li a{
	width: 100px;
}
.motion_title>ul>li:nth-child(2){
	margin-left: 100px;
}

/*甄选家*/
.selector{
	height: 500px;
	background-color: #fff;
	margin-top: 35px;
}
/*甄选家图片分布布局*/
.selector_pic>ul::after{
	content: "";
	display: block;
	clear: both;
}
.selector_pic>ul>li{
	float: left;
	background-color: #f3f9f9;
	width: 390px;
	height: 185px;
}
.selector_pic>ul>li:nth-child(1){
	width: 690px;
	height: 380px;
	margin-right:10px;
}
.selector_pic>ul>li:nth-child(2){
	margin-bottom: 10px;
}

/*大家都在说*/
.everybody{
	height: 620px;
	padding-top: 60px;
	background-color: #f4f0ea;
	margin: 0 -905px;
}
.everybody_title{
	background-color: #f4f0ea;
}
/*大家都在说图片分布布局*/
.everybody_pic>ul::after{
	content: "";
	display: block;
	clear: both;
}
.everybody_pic>ul>li{
	float: left;
	background-color: #f3f9f9;
	width: 355px;
	height: 492px;
	margin-right: 10px;
}

.everybody_pic>ul>li:nth-child(3){
	margin-right: 0;
}

/*底端客户服务*/
.service{
	height: 180px;
	padding: 58px 0 60px 0;
	background-color: #fff;
	border-top:2px solid #e8e8e8; 
}
.service ul li{
	float: left;
	width: 330px;
	height: 180px;
	background-color: #fff;
}
.service ul li:nth-child(1),
.service ul li:nth-child(2){
	border-right: 1px solid #e9e9e9;
}
.service ul li:nth-child(2){
	width: 426px
}
/*网页底部*/
.footer{
	height: 250px;
	width: 100%
	padding-top: 37px;
	background-color: #414141;
}
.statement{
	width: 1090px;
	height: 187px;
	padding-top: 37px;
}
.statement>ul.tips>li{
	width: 1090px;
	height: 18px;
	margin:11px 0;
	background-color: #414141;
}
.statement>ul.tips>li:nth-child(1){
	height: 50px;
	width: 1072px;
	padding: 0 0 30px 18px;
	background-color: #414141;
	border-bottom: 1px solid #4f4f4f;
}
.statement>ul.tips>li>ul.identification::after{
	content: "";
	display: block;
	clear: both;
}
.statement>ul.tips>li>ul.identification>li{
	float: left;
	width: 268px;
	height: 50px;
	background-color: #414141;
}
