*{
	margin: 0;
	padding: 0;
	list-style: none;
}

div{
	box-sizing: border-box;
}

a{
	text-decoration: none;
	color: #000000;
}

/*设置大盒子*/
.bigbox{
	max-width: 750px;
	margin: 0 auto;
}

/*设置图标大小*/
i.iconfont{
	font-size: 150%;
}

/*顶部*/
.top{
	height: 80px;
	display: flex;
	/*background-color: blue;*/
}

/*信封图标*/
.message{
	float: left;
	max-width: 50%;
	/*display: inline-block;*/
	/*background-color: pink;*/
	flex: 1;
	position: relative;
}

.message>a>.icon-envelope-o{
	color: #D2D2D3;
	position: absolute;
	top: 28%;
	left: 2.5%;
}

/*开关图标*/
.setting{
	float: left;
	max-width: 50%;
	/*display: inline-block;*/
	/*background-color: teal;*/
	flex:1;
	position: relative;
	/*position: absolute;
	top: 2%;
	left: 5%;*/
}

.setting>a>.icon-Switches{
	color: #D2D2D3; 
	position: absolute;
	top: 28%;
	left: 85%;
}

/*个人资料大盒子*/
.information{
	/*height: 500px;*/
	/*background-color: teal;*/
	display: flex;
}

.information>.blank{
	flex: 1;
	/*background-color: blue;*/
}

/*头像部分盒子*/
.information>.head{
	flex: 1;
	float: left;
	/*background-color: pink;*/
}

/*返回键盒子*/
.information>.gt{
	flex: 1;
	float: left;
	/*margin-right: 5%;*/
	/*background-color: green;*/
}

/*头像*/
.information>.head>.pic{
	width: 60%;
	/*height: 30%;*/
	margin:0 auto;
	/*background-color: purple;*/
}

.information>.head>.pic>a{
	display: block;
	border-radius: 50%;
}
.information>.head>.pic>a>img{
	width: 100%;
	height: 100%;
	border-radius: 50%;
}

/*昵称*/
.information>.head>.name{
	font-size: 150%;
	text-align: center;
	/*line-height: 2em;*/
	margin-top: 3%;
	/*background-color: teal;*/
}

/*编辑个人资料*/
.information>.head>.edit{
	font-size: 100%;
	text-align: center;
	padding-top: 3%;
	width: 100%;
}

.information>.head>.edit>a{
	color: #D2D2D3;
}

/*返回键*/
.information>.gt>a>i.icon-fanhuijian{
	float: right;
	padding-top: 25%;
	padding-right: 8%;
	font-size: 150%;
	height: 50px;
	color: #D2D2D3;
}

/*第一个版块*/
.first_section{
	height: 154px;
}
/*间隙*/
.line{
	height: 10px;
	max-width: 750px;
	margin-top: 20px;
	background-color: #ededed;
}

/*账户*/
.first_section>.count{
	display: flex;
	margin-bottom: 20px;
}

/*账户左侧*/
.first_section>.count>.left{
	padding-top: 20px;
	flex: 1;
	float: left;
}

/*账户图标*/
.first_section>.count .logo>a>i.iconfont{
	font-size: 40px;
	color: #8F65FF;
	float: left;	
	margin-left: 13px;
}

/*“账户”*/
.count_word{
	float: left;
	font-size: 130%;
	margin-left:10px; 
}

.count_word>a{
	line-height: 230%;
}

/*账户右侧*/
.right{
	flex: 1;
	float: right;
}

.right>.word_right{
	float: right;
}

.right .money{
	/*height: 60%;*/
	line-height: 180%;
	/*box-sizing: border-box;*/
	/*width: 100%;*/
	font-size: 150%;
	/*padding-right: 6%;*/
}

.count .right .have_buy{
	/*height: 40%;*/
	/*float: right;*/
	/*box-sizing: border-box;*/
	font-size: 90%;
	width: 100%;
	/*padding-right: 20%;*/
	position: relative;
	top: -5px;
	right: 17px;
	color: #D2D2D3;
}

.card .right .have_buy{
	/*height: 40%;*/
	/*float: right;*/
	/*box-sizing: border-box;*/
	font-size: 90%;
	width: 100%;
	/*padding-right: 20%;*/
	position: relative;
	top: 5px;
	right: 17px;
	color: #D2D2D3;
}

.first_section>.card .logo>a>i.iconfont{
	color: #E6DB74;
	font-size: 40px;
	float: left;	
	margin-left: 13px;
}

.date{
	font-size: 16px;
	position: relative;
	right: -51px;
}

.date>span:nth-child(2){
	font-size: 22px;
}

.second_section{
	height: 220px;
}

.second_section .date{
	top: 7px;
	right: -45px;
}

.second_section > .count .logo > a > i.iconfont{
	color: #FEB145;
}

.first_section > .card .logo > a > i.icon-guanzhu{
	font-size: 49px;
	margin-left: 9px;
}

.attention>a{
	line-height: 250%;
}

.rank .right .have_buy{
	/*height: 40%;*/
	/*float: right;*/
	/*box-sizing: border-box;*/
	font-size: 90%;
	width: 100%;
	/*padding-right: 20%;*/
	position: relative;
	top: 10px;
	right: 17px;
	color: #D2D2D3;
}

.attention_box{
	height: 54px;
}

.attention_box .attention{
	margin-left: 9px;
}

.attention_box .date{
	margin-right: 60px;
	top: -5px;
}

.attention_box .right .word_right .have_buy{
	right: -61px;
	top: 1px;
}

.read_group .date{
	right: -90px;
	top: 15px;
}

.read_group  .right .word_right .have_buy{
	top: 18px;
	right: 13px;
}

.read_group>.left>.logo>a>i.iconfont{
	color: #15BC83;
}

.third_section>.count>.left>.logo>a>i.iconfont{
	color: #16C2C2;
}

.third_section>.count .right .word_right .date{
	top: 11px;
	right: -45px;
}

.third_section>.count .right .word_right .have_buy{
	top: 16px;
	right: 10px;
}

.third_section>.book_list .right .word_right .date{
	right: 12px;
	top: 10px;
}

.third_section>.book_list>.left>.logo>a>i.iconfont{
	color: #FCAED1;
}

/*底部开始*/

.footer ul{
	height: 80px;
	width: 100%;
	background-color: #fff;
	box-sizing: border-box;
	padding:8px;
	display: flex;

}
.footer ul li{
	
	height:100%;
	flex: 1;

}
.footer ul li>div.footer_icon{
	width: 25%;
	height: 70%;
	margin: 0 auto;
	text-align: center;
}
.footer ul li>div.footer_icon a{
	display: block;
	width: 100%;
	height: 100%;
	margin: 0 auto;
	text-align: center;
}

.footer ul li>div.footer_icon i{
	color: #989898;
	font-size: 40px;

}
.footer ul li div.footer_word{
	text-align: center;
	color: #989898;
	font-size: 16px;
}
/*底部结束*/